@import url('../../../../public/css/constants.css');

.item__container {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
     border: 1px solid rgb(214, 199, 199);
     border-radius: 5px;
     padding: 3px 10px;
}

.team__title {
    color: var(--primary-text-color);
    font-size: 20px;
}