@import '../../../public/css/constants.css';

.header {
    background-color: var(--primary-bg-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav__link {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: 30px;
    padding: 5px;
}

.nav__link:hover {
    border-bottom: 1px solid var(--primary-text-color);
}

.nav__text {
    display: inline-block;
    color: var(--primary-text-color);
    font-size: 20px;
}