.form__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.form {
    width: 400px;
    font-size: 20px;
    color: white;
}

.text__danger {
    color: red;
    font-size: 16px;
}